body {
  margin: 0;
  font-family: cursive;
  background-color: #f4f4f4;
  background-image: 
    linear-gradient(rgba(49, 48, 48, 0.7), rgba(169, 169, 169, 0.7)), 
    url("/basketball.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
